* {
	word-wrap: break-word;
	box-sizing: border-box;
	font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
iframe,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
button,
input,
textarea,
th,
td {
	margin: 0;
	padding: 0;
}

ul,
ol,
dl {
	list-style-type: none;
}

html,
body {
	position: static;
}

html {
	font-family: sans-serif;
	text-size-adjust: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
	font-style: normal;
	font-weight: 400;
}

input,
button,
textarea,
select,
optgroup,
option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

input,
button {
	overflow: visible;
	vertical-align: middle;
	outline: none;
}

/* body,th,td,button,input,select,textarea{font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft Yahei",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53";font-size:14px;color: #333;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale} */

/* body,th,td,button,input,select,textarea{font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;} */

body {
	line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

a {
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
	outline: none;
}

a.ie6:hover {
	zoom: 1;
}

a:focus {
	outline: none;
}

a:hover,
a:active {
	outline: none;
}

:focus {
	outline: none;
}

sub,
sup {
	vertical-align: baseline;
}

button,
input[type='button'],
input[type='submit'] {
	line-height: normal !important;
}

.underline,
.und-l {
	text-decoration: underline;
}

*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

*::-webkit-scrollbar-track {
	background-color: transparent;
	opacity: 0.5;
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(166 166 166 / 50%);
	border-radius: 20px;
}

/* img */

img {
	border: 0;
	vertical-align: middle;
}

a img,
img {
	interpolation-mode: bicubic;
}

.img-responsive {
	max-width: 100%;
	height: auto;
}

p {
	font-weight: normal;
}

.fw-n {
	font-weight: normal;
}

.fw-b {
	font-weight: bold;
}

.fw-l {
	font-weight: lighter;
}

/* HTML5 reset */

header,
footer,
section,
aside,
details,
menu,
article,
section,
nav,
address,
hgroup,
figure,
figcaption,
legend {
	display: block;
	margin: 0;
	padding: 0;
}

time {
	display: inline;
}

audio,
canvas,
video {
	display: inline-block;
	display: inline;
	zoom: 1;
}

audio:not([controls]) {
	display: none;
}

legend {
	width: 100%;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 16px;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

legend small {
	font-size: 15px;
	color: #999999;
}

svg:not(:root) {
	overflow: hidden;
}

/* fieldset {border-width:0;padding: 0.35em 0.625em 0.75em;margin: 0 2px;border: 1px solid #c0c0c0} */

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	height: auto;
}

input[type='search'] {
	appearance: textfield;

	/* 1 */

	/* 2 */
	box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	appearance: none;
}

/* @charset "utf-8"; */

/* 3.0 基础样式 */

/* 3.1 排版 */

/* 3.1.1 标题
	Example：
	<h1>h1. 大标题<small>小标题</small></h1>
    <h2>h2. 大标题<small>小标题</small></h2>
    <h3>h3. 大标题<small>小标题</small></h3>
    <h4>h4. 大标题<small>小标题</small></h4>
    <h5>h5. 大标题<small>小标题</small></h5>
    <h6>h6. 大标题<small>小标题</small></h6>
*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small {
	font-weight: 400;
	line-height: 1;
	color: #999999;
}

h1,
h2,
h3 {
	/* padding-top:20px;padding-bottom:10px */
}

h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small {
	font-size: 65%;
}

h4,
h5,
h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

h4 small,
h5 small,
h6 small,
h4 .small,
h5 .small,
h6 .small {
	font-size: 75%;
}

h1 {
	font-size: 32px;
	line-height: 40px;
}

h2 {
	font-size: 24px;
	line-height: 32px;
}

h3 {
	font-size: 20px;
	line-height: 28px;
}

h4 {
	font-size: 16px;
	line-height: 24px;
}

h5 {
	font-size: 14px;
	line-height: 22px;
}

h6 {
	font-size: 12px;
}

.cur-p {
	cursor: pointer;
}

.cur-d {
	cursor: default;
}

.cl::after,
.clearfix::after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.cl,
.clearfix {
	zoom: 1;
}

.center {
	width: 50%;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* 3.1.3 对齐
	Name:			style_text-align
	Example:		class="text-l|text-r|text-c|va-t|va-m|va-b"
	Explain:		.text-水平对齐 （.text-l左对齐|.text-r右对齐|.text-c居中对齐）
					.va-上下对齐 （.va-t 居上对齐|.va-m 居中对齐|.va-b 居下对齐）
*/

.text-l {
	text-align: left;
}

.text-r {
	text-align: right;
}

.text-c {
	text-align: center;
}

.va * {
	vertical-align: sub !important;
	vertical-align: middle !important;
	_vertical-align: middle !important;
}

.va-t {
	vertical-align: top !important;
}

.va-m {
	vertical-align: middle !important;
}

.va-b {
	vertical-align: bottom !important;
}

/* 3.1.4 定位
	Name:			style_position
	Example:		class="pos-r|pos-a|pos-f"
	Explain:		.pos-r 相对定位|.pos-a 绝对定位|.pos-f 固定
*/

.pos-r {
	position: relative;
}

.pos-a {
	position: absolute;
}

.pos-f {
	position: fixed;
}

/* 3.1.5 浮动
	Name:			style_float
	Example:		class="l|r"
	Explain:		.l 左浮动|.r 右浮动
*/

.l,
.f-l {
	float: left !important;
	_display: inline-block;
}

.r,
.f-r {
	float: right !important;
	_display: inline-block;
}

.f-n {
	float: none !important;
}

/* 控制元素对定位的位置：居左|居右|j居上|居下 */

.left {
	left: 0;
	right: auto;
}

.right {
	right: 0;
	left: auto;
}

.top {
	top: 0;
	bottom: auto;
}

.bottom {
	top: auto;
	bottom: 0;
}

/*  */

.of-h {
	overflow: hidden;
}

.of-a {
	overflow: auto;
}

.of-i {
	overflow: inherit;
}

/* 3.1.6 文字单行溢出省略号
	Name:			style_text-overflow
	Example:		class="text-overflow"
*/

.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 3.1.7 线条
	Name:			style_line
	Example:		class="line"
*/

.line {
	font-size: 0;
	line-height: 0px;
	border-top: solid 1px #eeeeee;
	float: none;
}

/* 3.1.8 外边距
	Name:			style_margin
	Example:		class="mt-5|mt-10..."
	Explain:		.mt表示上边距|.mb表示下边距|.ml表示左边距|.mr表示右边距
*/

.m-a {
	margin: 0 auto;
}
.m-0 {
	margin: 0;
}
.m-5 {
	margin: 5px;
}
.m-8 {
	margin: 8px;
}
.m-10 {
	margin: 10px;
}
.m-15 {
	margin: 15px;
}
.m-16 {
	margin: 16px;
}
.m-20 {
	margin: 20px;
}
.m-24 {
	margin: 24px;
}
.m-25 {
	margin: 25px;
}
.m-30 {
	margin: 30px;
}
.m-32 {
	margin: 32px;
}
.m-35 {
	margin: 35px;
}
.m-40 {
	margin: 40px;
}
.m-45 {
	margin: 45px;
}
.m-48 {
	margin: 48px;
}
.m-50 {
	margin: 50px;
}
.m-56 {
	margin: 56px;
}

.mt-0 {
	margin-top: 0;
}
.mt-5 {
	margin-top: 5px;
}
.mt-8 {
	margin-top: 8px;
}
.mt-10 {
	margin-top: 10px;
}
.mt-15 {
	margin-top: 15px;
}
.mt-16 {
	margin-top: 16px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-24 {
	margin-top: 24px;
}
.mt-25 {
	margin-top: 25px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-32 {
	margin-top: 32px;
}
.mt-35 {
	margin-top: 35px;
}
.mt-40 {
	margin-top: 40px;
}
.mt-45 {
	margin-top: 45px;
}
.mt-48 {
	margin-top: 48px;
}
.mt-50 {
	margin-top: 50px;
}
.mt-56 {
	margin-top: 56px;
}

.mb-0 {
	margin-bottom: 0;
}
.mb-5 {
	margin-bottom: 5px;
}
.mb-8 {
	margin-bottom: 8px;
}
.mb-10 {
	margin-bottom: 10px;
}
.mb-15 {
	margin-bottom: 15px;
}
.mb-16 {
	margin-bottom: 16px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-24 {
	margin-bottom: 24px;
}
.mb-25 {
	margin-bottom: 25px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-32 {
	margin-bottom: 32px;
}
.mb-35 {
	margin-bottom: 35px;
}
.mb-40 {
	margin-bottom: 40px;
}
.mb-45 {
	margin-bottom: 45px;
}
.mb-48 {
	margin-bottom: 48px;
}
.mb-50 {
	margin-bottom: 50px;
}
.mb-56 {
	margin-bottom: 56px;
}

.ml-0 {
	margin-left: 0;
}
.ml-5 {
	margin-left: 5px;
}
.ml-8 {
	margin-left: 8px;
}
.ml-10 {
	margin-left: 10px;
}
.ml-15 {
	margin-left: 15px;
}
.ml-16 {
	margin-left: 16px;
}
.ml-20 {
	margin-left: 20px;
}
.ml-24 {
	margin-left: 24px;
}
.ml-25 {
	margin-left: 25px;
}
.ml-30 {
	margin-left: 30px;
}
.ml-32 {
	margin-left: 32px;
}
.ml-35 {
	margin-left: 35px;
}
.ml-40 {
	margin-left: 40px;
}
.ml-45 {
	margin-left: 45px;
}
.ml-48 {
	margin-left: 48px;
}
.ml-50 {
	margin-left: 50px;
}
.ml-56 {
	margin-left: 56px;
}

.mr-0 {
	margin-right: 0;
}
.mr-5 {
	margin-right: 5px;
}
.mr-8 {
	margin-right: 8px;
}
.mr-10 {
	margin-right: 10px;
}
.mr-15 {
	margin-right: 15px;
}
.mr-16 {
	margin-right: 16px;
}
.mr-20 {
	margin-right: 20px;
}
.mr-24 {
	margin-right: 24px;
}
.mr-25 {
	margin-right: 25px;
}
.mr-30 {
	margin-right: 30px;
}
.mr-32 {
	margin-right: 32px;
}
.mr-35 {
	margin-right: 35px;
}
.mr-40 {
	margin-right: 40px;
}
.mr-45 {
	margin-right: 45px;
}
.mr-48 {
	margin-right: 48px;
}
.mr-50 {
	margin-right: 50px;
}
.mr-56 {
	margin-right: 56px;
}
/* 3.1.9 内填充
	Name:			style_padding
	Example:		class="pt-5|pt-10|……"
	Explain:		.pt表示上填充|.pb表示下填充|.pl表示左填充|.pr表示右填充
*/

.p-0 {
	padding: 0;
}
.p-5 {
	padding: 5px;
}
.p-8 {
	padding: 8px;
}
.p-10 {
	padding: 10px;
}
.p-15 {
	padding: 15px;
}
.p-16 {
	padding: 16px;
}
.p-20 {
	padding: 20px;
}
.p-24 {
	padding: 24px;
}
.p-25 {
	padding: 25px;
}
.p-30 {
	padding: 30px;
}
.p-32 {
	padding: 32px;
}
.p-35 {
	padding: 35px;
}
.p-40 {
	padding: 40px;
}
.p-45 {
	padding: 45px;
}
.p-48 {
	padding: 48px;
}
.p-50 {
	padding: 50px;
}
.p-56 {
	padding: 56px;
}

.pt-0 {
	padding-top: 0;
}
.pt-5 {
	padding-top: 5px;
}
.pt-8 {
	padding-top: 8px;
}
.pt-10 {
	padding-top: 10px;
}
.pt-15 {
	padding-top: 15px;
}
.pt-16 {
	padding-top: 16px;
}
.pt-20 {
	padding-top: 20px;
}
.pt-24 {
	padding-top: 24px;
}
.pt-25 {
	padding-top: 25px;
}
.pt-30 {
	padding-top: 30px;
}
.pt-32 {
	padding-top: 32px;
}
.pt-35 {
	padding-top: 35px;
}
.pt-40 {
	padding-top: 40px;
}
.pt-45 {
	padding-top: 45px;
}
.pt-48 {
	padding-top: 48px;
}
.pt-50 {
	padding-top: 50px;
}
.pt-56 {
	padding-top: 56px;
}

.pb-0 {
	padding-bottom: 0;
}
.pb-5 {
	padding-bottom: 5px;
}
.pb-8 {
	padding-bottom: 8px;
}
.pb-10 {
	padding-bottom: 10px;
}
.pb-15 {
	padding-bottom: 15px;
}
.pb-16 {
	padding-bottom: 16px;
}
.pb-20 {
	padding-bottom: 20px;
}
.pb-24 {
	padding-bottom: 24px;
}
.pb-25 {
	padding-bottom: 25px;
}
.pb-30 {
	padding-bottom: 30px;
}
.pb-32 {
	padding-bottom: 32px;
}
.pb-35 {
	padding-bottom: 35px;
}
.pb-40 {
	padding-bottom: 40px;
}
.pb-45 {
	padding-bottom: 45px;
}
.pb-48 {
	padding-bottom: 48px;
}
.pb-50 {
	padding-bottom: 50px;
}
.pb-56 {
	padding-bottom: 56px;
}

.pl-0 {
	padding-left: 0;
}
.pl-5 {
	padding-left: 5px;
}
.pl-8 {
	padding-left: 8px;
}
.pl-10 {
	padding-left: 10px;
}
.pl-15 {
	padding-left: 15px;
}
.pl-16 {
	padding-left: 16px;
}
.pl-20 {
	padding-left: 20px;
}
.pl-24 {
	padding-left: 24px;
}
.pl-25 {
	padding-left: 25px;
}
.pl-30 {
	padding-left: 30px;
}
.pl-32 {
	padding-left: 32px;
}
.pl-35 {
	padding-left: 35px;
}
.pl-40 {
	padding-left: 40px;
}
.pl-45 {
	padding-left: 45px;
}
.pl-48 {
	padding-left: 48px;
}
.pl-50 {
	padding-left: 50px;
}
.pl-56 {
	padding-left: 56px;
}

.pr-0 {
	padding-right: 0;
}
.pr-5 {
	padding-right: 5px;
}
.pr-8 {
	padding-right: 8px;
}
.pr-10 {
	padding-right: 10px;
}
.pr-15 {
	padding-right: 15px;
}
.pr-16 {
	padding-right: 16px;
}
.pr-20 {
	padding-right: 20px;
}
.pr-24 {
	padding-right: 24px;
}
.pr-25 {
	padding-right: 25px;
}
.pr-30 {
	padding-right: 30px;
}
.pr-32 {
	padding-right: 32px;
}
.pr-35 {
	padding-right: 35px;
}
.pr-40 {
	padding-right: 40px;
}
.pr-45 {
	padding-right: 45px;
}
.pr-48 {
	padding-right: 48px;
}
.pr-50 {
	padding-right: 50px;
}
.pr-56 {
	padding-right: 56px;
}

/* 3.1.10 边框，css3圆角
	Name:			style-border
	Example:		class="bk_gray radius"
	Explain:		.bk_gray 边框|radius 圆角|round 椭圆 | circle 圆形
*/

.bk-gray {
	border: solid 1px #eeeeee;
}

.radius {
	border-radius: 4px;
}

.size-MINI.radius {
	border-radius: 3px;
}

.size-L.radius {
	border-radius: 5px;
}

.size-XL.radius {
	border-radius: 6px;
}

.round {
	border-radius: 50%;
	overflow: hidden;
}

/* 3.1.11 css3阴影
	Name:			style_shadow
	Example:		class="box_shadow|text-shadow"
	Explain:		box_shadow 块级元素阴影，全局样式，可用在表格，文本框，文本域，div等块级元素上。
					text-shadow 文字阴影
*/

.box-shadow {
	box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.text-shadow {
	-webkit-text-shadow: 0 0 2px rgb(0 0 0 / 20%);
	text-shadow: 0 0 2px rgb(0 0 0 / 20%);
}

.box-shadow-no {
	box-shadow: none;
}

/* 3.1.12 行内分割竖线
	Name:			style_pipe
	Example:		<span class="pipe">|</span>
*/

.pipe {
	margin: 0 5px;
	color: #cccccc;
	font-size: 10px !important;
}

/* 3.1.13 文字尺寸
	Name:			style_font-size
	Example:		class="f-12|f-14|f-16|f-18|f-20|f-24|f-26|f-28|f-30"
	Explain:		12px字体|14px字体|16px字体|18px字体|20px字体|24px字体|26px字体|28px字体|30px字体
*/

.f-12 {
	font-size: 12px;
}

.f-13 {
	font-size: 13px;
}

.f-14 {
	font-size: 14px;
}

.f-15 {
	font-size: 15px;
}

.f-16 {
	font-size: 16px;
}

.f-17 {
	font-size: 17px;
}

.f-18 {
	font-size: 18px;
}

.f-19 {
	font-size: 19px;
}

.f-20 {
	font-size: 20px;
}

.f-22 {
	font-size: 22px;
}

.f-24 {
	font-size: 24px;
}

.f-26 {
	font-size: 26px;
}

.f-28 {
	font-size: 28px;
}

.f-30 {
	font-size: 30px;
}

.f-40 {
	font-size: 40px;
}

/* 3.1.14 文字行距
	Name:			mod_line-height
	Example:		class="lh-16|lh-18|lh-20|lh-22|lh-24|lh-26|lh-28|lh-30"
	Explain:		16px行高|18px行高|20px行高|22px行高|24px行高|26px行高|30px行高
*/

.f-it {
	font-style: italic;
}

.f-in {
	font-style: inherit;
}

.f-ob {
	font-style: oblique;
}

.f-no {
	font-style: normal;
}

.lh-16 {
	line-height: 16px;
}

.lh-18 {
	line-height: 18px;
}

.lh-20 {
	line-height: 20px;
}

.lh-22 {
	line-height: 22px;
}

.lh-24 {
	line-height: 24px;
}

.lh-26 {
	line-height: 26px;
}

.lh-28 {
	line-height: 28px;
}

.lh-30 {
	line-height: 30px;
}

/* 3.1.24 隐藏 显示
  Name:				style_display
  Example:    <div class="hide">隐藏的内容</div> <div class="show">显示的内容</div>
  Explain:    		.hide 隐藏 / .show 显示
*/

.hide {
	display: none;
}

[hidden] {
	display: none;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
}

.f-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

[class*='span'].hide,
.row-fluid [class*='span'].hide {
	display: none;
}

.show {
	display: block;
}

.invisible {
	visibility: hidden;
}

.h-hide {
	display: none;
}

/* display设置 */

.d-lb {
	display: inline-block;
}

.d-b {
	display: block;
}

.d-n {
	display: none;
}

.d-tab {
	display: table;
}

.d-tc {
	display: table-cell;
}

.pointer {
	cursor: pointer;
}
